<app-navbar></app-navbar>
<div class="main">
  <section id="story">
    <img class="image" src="../../assets/photo.png" alt="image">
    <article>
      <h1> About Us </h1>
      <hr>
      <p>
        Connect.Within is a single destination for effective evidence based solution for better mental health. It is
        designed to help you build the strength to face life's ups and downs.
      </p>
      <h1> Our Story </h1>
      <hr>
      <p>
        Connect.Within was founded in Pune ,Maharashtra in 2018 along with a team of expert QCI certified trainers--
        United with a belief that mindfulness can make people's lives better. Yoga, Meditation and Exercise has a
        significant impact on the lives of people, of what makes people thrive and lead meaningful lives __ so why don't
        more people know about it!
      </p>
      <h1> Our Mission </h1>
      <hr>
      <p>
        At Connect.within we are taking a 21st century approach to building a well-lived life. In a world that's
        increasingly stressful and complex, we want you to take control of your emotional life -and we aim to help you
        with that.
      </p>
    </article>
  </section>
</div>
