<div>
  <p>
    <mat-toolbar class="nav-container">
      <!-- logo and Title -->
      <img src="../../assets/logoicon.png" alt="" />
      <span class="name">Connect.Within</span>
      <span class="example-spacer"></span>

      <!-- Nav Links -->
      <ul>
        <li>
          <ul>
            <li><a href="#" routerLink="/home">Home</a></li>
            <li><a href="#" routerLink="/about">About</a></li>
            <li><a href="#" routerLink="/personalize">Services</a></li>
            <!-- <button mat-button [matMenuTriggerFor]="menu" class="menu">Collections</button> -->
            <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item>Mudras</button>
                <button mat-menu-item>Yogasanas</button>
                <button mat-menu-item>Wisdom Bites</button>
              </mat-menu> -->
            <li><a href="#" routerLink="/collections">Collections</a></li>
            <li><a href="#" routerLink="/wellness">Wellness Tips</a></li>
            <!-- <li><a href="#" routerLink="/contact">Contact</a></li> -->
            <li><a href="#" routerLink="/logreg">Log Out</a></li>
          </ul>
        </li>
        <li> <a class="email" href="#" routerLink="/contact"><img src="../../assets/icons8-email-64.png" height="40"
              width="45" alt=""></a></li>
        <li class="email"> <a href="#" routerLink="/map"><img src="../../assets/map (1).png" height="40" width="45"
              alt=""></a></li>

      </ul>

      <!-- Menu for more -->
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu-container">
        <button mat-menu-item class="item">
          <span>Blog</span>
        </button>
        <button mat-menu-item class="item">
          <span>Wisdom Bites</span>
        </button>
        <button mat-menu-item class="item">
          <span>TED Talks</span>
        </button>
        <button mat-menu-item class="item">
          <span>FAQs</span>
        </button>
      </mat-menu> -->
    </mat-toolbar>
  </p>
</div>
