<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p> -->

<!-- THIS IS WELCOME PAGE -->
<div class="container1">
  <img src="../../assets/icons8-half-heart-96.png" alt="logo" class="logo" />
  <h1 class="title">Connect.Within</h1>
  <span class="caption">Bringing a Smile on your face, on Monday Mornings!!
  </span>
  <a href="#" routerLink="/logreg">
    <button class="explore">Let's Explore!</button>
  </a>
</div>
